
  
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-index.css') }}"> -->
  <!-- <link rel="stylesheet" href="/static/css/style-index.css"> -->

  <nav class="navbar navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"> <img src="/static/images/logo1.png" alt="Lights" style="width:150px"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </nav>