<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Iris plant class predictor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <nav class="navbar navbar">
    <div class="container">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">
          <img src="./logo1.png"  width="30" height="30" alt="logo">
        </a> -->
        <a class="navbar-brand" href="#">Stat Datas</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <!-- <li><a href="#">Home</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->
      </ul>
    </div>
  </nav>
<section class="bgimage">
<div class="container">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" >
  
	  <h1 class="instructions">Predict iris flower class</h1>
      <br>
      <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="Sepal Width" placeholder="Sepal Width" required="required" />
        <input type="text" name="Sepal Height" placeholder="Sepal Height" required="required" />
        <input type="text" name="Petal Length" placeholder="Petal Length" required="required" />
        <input type="text" name="Petal Width" placeholder="Petal Width" required="required" />
        <button type="submit" class="btn btn-success">Predict</button>
      </form>
      <h3 class="instructions"> {{ prediction_text }}</h3>
  </div>
</div>
</section>
</body>
</html>