<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Vehicle CO2 emissions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/emission.css') }}">
</head>

<body>
    <div>
        {% include '/partials/header.html' %}
    </div>

    <div class="hero-image">
      <div class=" box1">
          <h1 class="instructions">CO2 emission of vehicles</h1>
            <br>
            <form action="{{ url_for('predictEmission')}}" method="post">
              <input type="text" name="enginesize" placeholder="Size of the engine" required="required" />
              <input type="text" name="cylinders" placeholder="Number of cCylinders" required="required" />
              <input type="text" name="fuel" placeholder="Fuel Capacity" required="required" />
              <br><br>
              <div class="form-group">
                <label for="sel1">Select Model: (Default is best fitted model)</label>
                <select class="form-control" id="sel1" name="model_type">
                  <option value="linear regression">Linear Regression</option>
                  <option value="decision tree" selected="selected">Decision Tree Regression</option>
                  <option value="Gradient Boost">Gradient Boost Regression</option>
                  <option value="SGD">SGD Regression</option>
                  <option value="XGBoost">XGBoost Regression</option>
                </select>
              </div>
              <br><br>
              <button type="submit" class="btn btn-info">Predict</button></br>
            </form>
            <h2 class=""> {{ prediction_text }}</h2>
        </div>
  </div>
<div>
    {% include '/partials/footer.html' %} 
  </div>
</body>
</html>